body {
    font-family: 'Arvo';
    font-size: 16px;
    /*padding: 20px 100px 0px 100px;*/
    background: #f3f3f3;
}

/* Form */

input[type=checkbox] {
    transform: scale(1.5);
    margin-right: 10px;
}

input[type=text] {
    font-size: 1em;
}

button {
    font-family: 'Arvo';
    font-size: 1em;
}

/* Controls */

.controls {
    margin-top: 20px;
}
/*****************************************************************************/
#header {
   background-color: blue;
   padding:10px;
   
   color:white;
   height:auto;
   width:100%;
}
/* Overall layout */
.layout {
   display:grid;
   grid-template-columns: 200px 1fr;
   grid-template-areas: "title title"
			"stats main"
			"stats main";
}
#footer {
   background-color:blue;
   height:40px;
   position:relative;
   bottom:0;
   width:100%;
   text-align:center;
   padding:10px;
}
.stats {
   grid-area: stats;
   background-color: #777;
   width:200px;
   padding:15px;
   padding-right:0;
}
.title {
   grid-area:title;
   height:60px;
   text-align:center;
}
.main {
   grid-area:main;
   padding:50px;
   padding-top:10px;
/* width:700px; */
}
/* For the town area */
.town {
   display: grid;
   padding-top:10px;
   grid-template-areas: "jousting jousting"
			"inn smithy";
   grid-row-gap:10px;
}
.innSmall {
   grid-area: inn;
   width:220px;
}
.smithySmall {
   grid-area: smithy;
   width:220px;
}
.joustingSmall {
   grid-area: jousting;
}
/* For jousting */
.joustingBig {
   display:grid;
   grid-template-columns: 125px 125px 125px 50px 150px;
   grid-template-rows:150px;
   grid-gap:6px 15px; /* row gap, column gap */
}
.joustingBig2 {
   display:grid;
   grid-template-columns: 375px 50px 170px;
   grid-template-rows:60px;
   grid-gap:6px 15px; /* row gap, column gap */
}
.joustingBig3 {
   display:grid;
   grid-template-columns:300px 1fr;
   grid-column-gap:10px;
   padding:25px;
}
/* For inn */
.innBig {
  display:grid;	
  grid-template-columns:440px 1fr;
}
/* For inn */
.smithyBig {
  display:grid;	
  grid-template-columns:440px 200px 200px;
  grid-template-rows:120px 120px;
  grid-row-gap:20px;
}
.scores {
   display:grid;
   grid-template-columns:100px 100px;
   grid-template-rows:50px 50px 50px 50px 50px 50px;
}
